anyio
rapidfuzz
boltons
boto3
botocore
flask-cors
cffi
charset-normalizer
click
colorama
conllu
cryptography
DAWG2-Python
docopt
et-xmlfile
Flask
furl
googleapis-common-protos
grpcio
h11
httpcore
httpx
idna
isv-nlp-utils @ git+https://github.com/bt2901/ISV_NLP_utils@master
itsdangerous
Jinja2
jmespath
MarkupSafe
numpy
openpyxl
orderedmultidict
pandas
protobuf
pycparser
PyJWT
pymorphy2 @ git+https://github.com/pymorphy2-fork/pymorphy2
pymorphy2-dicts-ru
pyparsing
PyYAML
requests
rfc3986
s3transfer
sniffio
ujson
urllib3
wincertstore
